<style>
    .container {
        max-width: 100%;
        padding: 0 5%;
        margin: auto;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
        width: 100%;
    }

    .form-header {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
    }

    .form-name, .form-email {
        width: 100%;
        margin-bottom: 10px;
    }

    .label {
        text-transform: uppercase;
        font-size: medium;
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
    }

    .input {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        border-radius: 4px;
    }

    .button {
        display: block;
        width: 100%;
        font-weight: 500;
        background-color: #212529;
        color: #fff;
        font-size: 16px;
        border-radius: 6px;
        padding: 10px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .button:hover {
        background-color: #343a40;
    }

    .contact-title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 24px auto;
    }

    
    @media (min-width: 768px) {
        .form-header {
            flex-wrap: nowrap;
        }
        
        .form-name, .form-email {
            width: 48%;
        }
    }

</style>

<div class="container">
    {% if section.settings.title %}
        <h2 class="contact-title">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="form-container">
         {% form 'contact', product %}
            {% if form.errors %}
                something went wrong
                {% elsif form.posted_successfully? %}
                    Congratss your message has been sent
            {% endif %}
            <div class="form-header">
                 <div class="form-name">
                    <label class="label" for="contact_name">Name</label>
                    <input class="input" type="text" name="contact[name]" id="contact_name">
                 </div>
                 <div class="form-email">
                    <label class="label" for="contact_email">Email</label>
                    <input class="input" type="text" name="contact[email]" id="contact_email">
                 </div>
            </div>
               
               <label class="label" for="contact_message">Message</label>
               <textarea class="input" name="contact[body]" id="contact_message"></textarea>

               <input class="button" type="submit" value="Submit">
         {% endform %}
    </div>
</div>


{% schema %}
{
    "name": "Contact-From",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title"
        }
    ],
    "presets": [
            {
                "name": "Contact-From"
            }
        ]
}
{% endschema %}