<style>
    /* .featured-container{
        max-width: 1440px;
        margin: auto;
        margin-top: 100px;
    } */
    .featured-title{
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;

    }
    @media screen and (max-width: 1024px) {
        .product-container {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
        } 
        .featured-title{
        font-size: 24px;
        }
    }
    @media screen and (max-width: 512px) {
        .product-container {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            align-items: center;
        } 
        .featured-title{
        font-size: 24px;
        }
    }
</style>

<div class="container">
    <h1 class="featured-title">{{  section.settings.text }}</h1>
    <div class="product-container">
        {% for product in  section.settings.featured_collection.products limit: section.settings.range  %}
              {% render 'product-card', product: product %}  
        {% endfor %}
    </div>
   
</div> 

{% schema %}
{
    "name": "featured-products",
    "settings": 
    [
            {
                "type": "inline_richtext",
                "id":"text",
                "label":"Headline",
                "default": "Featured Products"
            },
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "Collection"
            },
            {
                "type": "range",
                "id": "range",
                "min": 4,
                "max": 12,
                "step": 1,
                "label": "Number of products in Featured Collection",
                "default": 4
                
            }
        ],
        "presets": [
            {
                "name": "featured-products"
            }
        ]
}
{% endschema %}