
<style>
    .container{
        max-width: 1440px;
        margin: auto;
    }
    .title{
        text-align: center;
        font-size: 36px;
        font-weight: bold;
    }
</style>

<div class="container">
    <h1 class="title">{{ page.title }}</h1>
    <div>{{ page.content }}</div>
</div>
