<style>

.reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 6px;
    margin-bottom: 2rem;
}

.resetForm {
    max-width: 400px;
    width: 100%;
}
.reset-title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
    margin-top: 24px; 
}

.margin-8 {
    margin-top: 32px; 
}

.alert {
    position: relative;
    border: 1px solid #f56565; 
    background-color: #fed7d7; 
    color: #c53030; 
    padding: 12px 16px;
    font-weight: bold;
}

.error {
    display: block;
}

.margin-2 {
    margin: 8px 0; 
}

.input {
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}



.button {
    position: relative;
    width: 100%;
    padding: 8px 16px; 
    font-size: 0.875rem; 
    font-weight: 500;
    color: #fff;
    background-color: #4b5563; 
    border: none;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #111827; 
}
@media screen and (max-width:480px) {
    .resetForm {
        max-width: 250px;
    }
}

</style>

<div class="container reset-container">
    <div class="resetForm">
        <div>
            <h1 class="reset-title">Reset your password</h1>
        </div>
        <div class="margin-8">
            {% form "reset_customer_password" %}
                {% if form.errors %}
                    <div class="alert" role="alert">
                        <strong >Error!</strong>
                        <p class="error">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}
                
                <div class="margin-2">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password"
                        name="customer[password]"
                        id="password"
                        autocomplete="new-password"
                        class="input"
                        placeholder="Password"
                    >
                </div>
                <div class="margin-2">
                    <label for="password_confirmation" class="sr-only">Password Confirmation</label>
                    <input type="password"
                        name="customer[password_confirmation]"
                        id="password_confirmation"
                        autocomplete="new-password"
                        class="input"
                        placeholder="Confirm your Password"
                    >
                </div>
                
                <div>
                    <button type="submit" class="button">
                        Reset Password
                    </button>
                </div>
            {% endform %}
        </div>
    </div>
</div>