<div class="hura-messages">

  <marquee height="100px" width="100%" scrollamount="{{ section.settings.speed }}" direction="{{ section.settings.direction }}" {% if section.settings.pause_on_hover %}onmouseover="this.stop();" onmouseout="this.start();"{% endif %}>
        {%- for block in section.blocks -%}
            <div class="hura-message">{{block.settings.message}}</div>
        {%- endfor -%}
  </marquee>

</div>


<style>
    .hura-messages{    
    position: relative;
    overflow: hidden;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color:  #ded3d1;
    }

    .hura-message{
    text-align: center;
    padding: 17px 5rem;
    display: inline-block;
    font-size: 2rem;
    }

</style>


 

{% schema %}
        {

        "name": "Hura Marquee",
        "settings": [
            {
            "type": "checkbox",
            "id": "show_marquee_bar",
            "label": "Show"
            },
            {
            "type": "select",
            "id": "direction",
            "options": [
                {
                "value": "left",
                "label": "Right to Left"
                },
                {
                "value": "right",
                "label": "Left to Right"
                }
            ],
            "default": "right",
            "label": "Direction"
            },
            {
            "type": "checkbox",
            "id": "pause_on_hover",
            "label": "Pause on hover"
            },    
            {
            "type": "text",
            "id": "speed",
            "label": "Speed",
            "default": "15"
            }

        ],
        "blocks": [
            {
            "type": "header",
            "name": "Message",
            "settings": [
                {
                    "id": "message",
                    "type": "textarea",
                    "label": "Message"
                }
            ]
            }
        ],
        "presets": [
            {
            "name": "Hura Marquee"
            }
        ]
        }
{% endschema %}  